<!DOCTYPE html>
<html>
<head>
  <title>DraftKings Player Scores</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> 
  <script src="app.js"></script>
  <script src="controller.js"></script>
  <script src="services.js"></script>
</head>
<body>
<div> Draft Kings Player Scores Data </div>
<div ng-app="PlayerScoresApp" ng-controller="playersController">
<div style="float: left;">
  <input type="text" ng-model="nameFilter" placeholder="Find a player..."/>
  <table>
    <thread>
      <tr><th colspan="4">Player Table</th></tr>
    </thread>
    <tbody>
    <tr>
      <th>Player</th>
      <th>Position</th>
      <th>Team</th>
      <th>Total Points</th>
    </tr>
      <tr ng-repeat="player in filterList | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="getGameData(player)">
        <td> {{ player.name }} </td>
        <td> {{ player.position }} </td>
        <td> {{ player.team }} </td>
        <td> {{ player.total_points }} </td>
      </tr>
      <tr>
        <td ng-show="pageSize == 32" ng-click="showMore()">Show more...</td>
        <td ng-show="pageSize > 32" ng-click="showLess()">Show less...</td>
      </tr>
    </tbody>
  </table>
  <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
    {{ currentPage+1 }}/{{ numberOfPages() }}
    <button ng-disabled="currentPage >= filterList.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
  </div>
  <div style="display: inline-block;">
    <table ng-show="currentPlayer">
      <thread>
        <tr><th colspan="4"> {{ currentPlayer.name }}</th></tr>
      </thread>
      <tbody>
        <tr>
          <th>Week</th>
          <th>Points</th>
        </tr>
        <tr ng-repeat="performance in weekPerformances">
          <td> {{ performance.week }} </td>
          <td> {{ performance.points }} </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>
